@* Feature Partial View *@
<section class="features-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2>Task Management Assistant You Gonna Love</h2>
                <p class="lead">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
                <a class="btn btn-primary" href="~/GetStarted">Get started for free</a>
            </div>
            <div class="col-lg-6">
                <img src="din bild/ikon här" alt="Dashboard Preview" class="img-fluid">
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="text-center mt-4">Largest companies use our tool to work efficiently</p>
            <div class="col-12">
                <img src="/images/Small_logo1.svg" alt="Company Logo 1" class="img-fluid">
                <img src="/images/Small_logo2.svg" alt="Company Logo 2" class="img-fluid">
                <img src="/images/Small_logo3.svg" alt="Company Logo 3" class="img-fluid">
                <img src="/images/Small_logo4.svg" alt="Company Logo 4" class="img-fluid">
                <!-- Repeat for as many logos as you have -->
            </div>
        </div>
    </div>
</section>
