@* Header Partial View *@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="~/">
                <img src="~/images/Silicon Logotype - Light Mode.svg" alt="Company Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Contact">Contact</a>
                    </li>
                </ul>
                <div class="navbar-nav">
                    <button class="btn btn-light" id="theme-toggle">Light</button>
                    <a class="nav-link text-dark" href="~/SignIn">Sign in</a>
                    <a class="btn btn-primary" href="~/SignUp">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
</header>

